# IDE related files
.vscode/
.idea/
*.iml
*.iws

# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.Python
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Env variables
.env

# Ruff cache
.ruff_cache/

# Docker / project data
Object-Storage/mino-though-docker/data/

# Logs / temp
*.log
tmp/
temp/
