# IDE related files (Visual Studio Code, IntelliJ, etc.)
.vscode/
.idea/
*.iml
*.iws
.DS_Store # macOS specific files

# Python related files
__pycache__/
*.pyc
*.pyd
*.pyo
venv/ # Virtual environments
.venv/
.pytest_cache/
.coverage
htmlcov/
.Python
# For Jupyter notebooks
.ipynb_checkpoints/

# Environment variables
.env

# This will ignore GitHub_Projects/object-storage/Object-Storage/mino-though-docker/data/
Object-Storaje/mino-though-docker/data/
# Ruff cache
.ruff_cache/

# Any specific logs or temporary files
*.log
tmp/
temp/
